@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@200;300;400&family=Quicksand&family=Roboto:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --red: #ff0055;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #70b959;
  transform-origin: 0%;
}

.slide-inX {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #6cbc56;
  transform-origin: left;
}

.slide-outX {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #6cbc56;
  transform-origin: right;
}

/* .slide-inY {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #6cbc56;
  transform-origin: top;
}

.slide-outY {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #6cbc56;
  transform-origin: bottom;
} */

.greenWipe {
  background-color: white;
  overflow: hidden;
  background: linear-gradient(to right, #70b959, #70b959 50%, #f8fff6 50%);
  background-size: 205% 100%;
  background-position: 100%;
  transition: background-position 200ms ease-in-out;
}

.greenWipe:hover {
  background-position: 0 100%;
}

li.selected {
  background: #bb7272;
}

.underline {
  position: absolute;
  top: -30px;
  right: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  /* background: #70b959; */
}

/* .frontpage {
  background-image: url('/kitchen.jpg');

} */

.custom-shape-divider-bottom-1703050490 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1703050490 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 64px;
}

.custom-shape-divider-bottom-1703050490 .shape-fill {
  fill: #70b959;
}

.spin {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
